<div class="pagewrapper-cls">
    <div class="uppersectionofpate-cls">
        <mat-card class="document-card-cls" >
            <div class="container-cls" id="affidavitcard"  style="width:200px;height:200px;"></div>
            <div class="actiongroup-cls">
            <h2>{{selectedTemplateobj.templateName}}</h2>
            <div class="upperrorw-cls">
                <button class="enablebutton-cls" (click)="filltemplate()">Fill out affidavit</button>
            </div>
        </div>
        </mat-card>
        <div class="templatenameandfill-cls">
                <h2>{{selectedTemplateobj.templateName}}</h2>
                <div class="versionpriceinfo-cls">
                        <div class="step-cls" style="border:0px;box-shadow:none;">
                                <span class="versioninfo-cls">
                                        <mat-icon style="font-size: 25px;color:var(--custombgColor)">query_builder</mat-icon>
                                        <h5 style="    margin-left: 10px;color: var(--custombgColor);">Latest Version</h5>
                                    </span>
                            
                            <span style="font-size: smaller;margin-left: 30px;">{{(!!selectedTemplateobj.publishedTemplateVersion) ? selectedTemplateobj.publishedTemplateVersion.templateVersionName : ''}}</span>
        
                        </div>
                        <div class="step-cls" style="border:0px;box-shadow:none;">
                                <span class="versioninfo-cls" >
                                        <mat-icon style="font-size: 25px;color:var(--custombgColor)">payment</mat-icon>
                                        <h5 style="    margin-left: 10px;color: var(--custombgColor);">Price</h5>
                                    </span>
                                
                            <span style="font-size: smaller;margin-left: 30px;">{{selectedTemplateobj.templatePrice}} (NGN)</span>
                            
                        </div>
                    </div>
            
            <div class="howitworks-cls">
                <div class="step-cls">
                    <span>
                        <mat-icon style="font-size: 34px;">library_books</mat-icon>
                    </span>
                    <h5>1. Select this affidavit</h5>
                    <p>Click on Fill out affidavit button.</p>
                </div>
                <div class="step-cls">
                    <span>
                        <mat-icon style="font-size: 34px;">edit</mat-icon>
                    </span>
                    <h5>2. Complete the affidavit</h5>
                    <p>Answer a few questions and your affidavit is created automatically.</p>
                </div>
                <div class="step-cls">
                    <span>
                        <mat-icon style="font-size: 34px;">print</mat-icon>
                    </span>
                    <h5>3. Purchase & get PDF</h5>
                    <p>After purchasing you will get your affidavit on your mail.</p>
                </div>
            </div>

        </div>

    </div>
    <div class="lowersectionofpage-cls">
        <div class="affidavitdesc-cls" [innerHtml]="descriptionPageHtml">
        </div>
        <button class="fill-affidavit-button" (click)="filltemplate()">Fill out affidavit</button>
    </div>
</div>