<div class="pagewrapper-cls">
    <div class="uppersectionofpate-cls">
        <mat-card class="document-card-cls" >
            <div class="container-cls" id="affidavitcard"  style="width:200px;height:200px;"></div>
            <div class="actiongroup-cls">
            <h2>{{selectedTemplateobj.templateName}}</h2>
            <div class="upperrorw-cls">
                <button class="enablebutton-cls" (click)="filltemplate()">Fill out affidavit</button>
            </div>
        </div>
        </mat-card>
        <div class="templatenameandfill-cls">
                <h2>{{selectedTemplateobj.templateName}}</h2>
                <div class="versionpriceinfo-cls">
                        <div class="stat-block-cls">
                                <div class="stat-icon-cls">
                                        <mat-icon>query_builder</mat-icon>
                                </div>
                                <div class="stat-text-cls">
                                        <span class="stat-label-cls">Latest Version</span>
                                        <span class="stat-value-cls">{{(!!selectedTemplateobj.publishedTemplateVersion) ? selectedTemplateobj.publishedTemplateVersion.templateVersionName : ''}}</span>
                                </div>
                        </div>
                        <div class="stat-block-cls">
                                <div class="stat-icon-cls">
                                        <mat-icon>payment</mat-icon>
                                </div>
                                <div class="stat-text-cls">
                                        <span class="stat-label-cls">Price</span>
                                        <span class="stat-value-cls">{{selectedTemplateobj.templatePrice}} <span class="stat-currency-cls">NGN</span></span>
                                </div>
                        </div>
                    </div>
            
            <div class="howitworks-cls">
                <div class="step-cls">
                    <span>
                        <mat-icon style="font-size: 34px;">library_books</mat-icon>
                    </span>
                    <h5>1. Select this affidavit</h5>
                    <p>Click on Fill out affidavit button.</p>
                </div>
                <div class="step-cls">
                    <span>
                        <mat-icon style="font-size: 34px;">edit</mat-icon>
                    </span>
                    <h5>2. Complete the affidavit</h5>
                    <p>Answer a few questions and your affidavit is created automatically.</p>
                </div>
                <div class="step-cls">
                    <span>
                        <mat-icon style="font-size: 34px;">print</mat-icon>
                    </span>
                    <h5>3. Purchase & get PDF</h5>
                    <p>After purchasing you will get your affidavit on your mail.</p>
                </div>
            </div>

        </div>

    </div>
    <div class="lowersectionofpage-cls">
        <div class="affidavitdesc-cls" *ngIf="descriptionPageHtml" [innerHtml]="descriptionPageHtml">
        </div>
        <button class="fill-affidavit-button" (click)="filltemplate()">Fill out affidavit</button>
    </div>
</div>