.dialogwrapper {
  min-width: 60vw;
  min-height: 55vh;
  max-height: 64vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.dialogwrapper span {
  width: 100%;
}

.actiongroup {
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.editform {
  /* height:34vh; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

}

.errorMessage {
  color: red;
  margin-bottom: 1vh;
  font-weight: 500;
}

.dialog-body-cls ckeditor {
  box-shadow: 0 0 7px 1px #b9b6b6;
}

.ck ck-editor__main {
  height: 40vh;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  width: 40vw;
  height: 40vh;
}


@media only screen and (max-width:1024px) {
  .dialogwrapper {
    width: 37vw;
    /* height: 55vh; */
  }

  .maincontent {
    /* height: 55vh; */
  }

  .dialogwrapper h2 {
    font-size: medium;
  }

  .actiongroup {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .mat-button {
    width: 120px;
    font-size: larger;
  }
}