<div class="tablewrapper">
	<div class="table-wrapper-cls">
		<div class="table-header-cls" style="border:1px solid black">
			<div class="table-header-cell-cls no-sort-header" style="flex:0.5; border-right: 1px solid #00000038;">
				Meeting Id
			</div>

			<div class="table-header-cell-cls no-sort-header" style="flex:0.5; border-right: 1px solid #00000038;">
				Meeting On
			</div>
			<div class="table-header-cell-cls no-sort-header" style="flex:0.5; border-right: 1px solid #00000038;">
				Number of Affidavits
			</div>
			<div class="table-header-cell-cls no-sort-header" style="flex:0.5; border-right: 1px solid #00000038;">
				Meeting Status
			</div>

		</div>
		<div class="table-body-cls">

			<div *ngIf="appointmentsDetails?.length">
				<mat-card *ngFor="let appointment of appointmentsDetails;let i = index" class="mat-card-list-cls">
					<div class="table-row-cell-cls">
						{{appointment.appointmentId}}
					</div>
					<div class="table-row-cell-cls">
						{{appointment.formattedDate}}
					</div>
					<div class="table-row-cell-cls">
						{{appointment.affidavitCount}}/{{appointment.attendees?.length}}
					</div>
					<div class="table-row-cell-cls">
						<button mat-raised-button [disabled]="appointment.isBtnDisable"
							[ngClass]="appointment.isBtnDisable ?'button-cls-disabled': 'button-cls'"
							(click)="onJoinOrReschedule(appointment)">{{appointment.btnValue}}</button>
					</div>
				</mat-card>
			</div>
			<div *ngIf="!appointmentsDetails?.length" class="empty-msg">
				<div>
					<h2>
						*No Appointment
					</h2>
				</div>
			</div>
		</div>
		<div class="paginator-cls">
			<p style="color:var(--customgrey)">{{dataMessage}}</p>
			<p style="color:var(--custombgColor)">Page: </p>
			<button (click)="previousPage()"
				[ngClass]="(prevflag == true) ?'page-navigation-disabled-cls': 'page-navigation-cls'">
				<mat-icon style="font-size: 27px;">navigate_before</mat-icon>
			</button>
			<p>{{page+1}}</p>
			<button (click)="nextPage()"
				[ngClass]="(nextflag == true) ?'page-navigation-disabled-cls': 'page-navigation-cls'">
				<mat-icon style="font-size: 27px;">navigate_next</mat-icon>
			</button>
		</div>
	</div>
</div>