* text=auto eol=crlf

*.sh text eol=lf
*.bash text eol=lf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.woff binary
*.woff2 binary
*.ttf binary
