
<div class="pagewrapper-cls">
        
    <div class="uppersectionofpate-cls">
        <div class="templatenameandfill-cls">
            <h2 class="text-header-class">Upload Affidavit Template</h2>

            <div class="text-div">
                <p class="text-class">
                    We have integrated a feature that allows you to seamlessly submit your completed affidavit for the registrar's signature. 
                </p>  
                <p class="text-class">
                    Simply upload the filled affidavit onto our secure server, and our system will initiate the necessary steps to obtain the registrar's signature promptly.
                </p> 
                <p class="text-class" style="font-weight: bold;">
                    Note: 
                </p>
                <p  class="text-class">
                    1. Your must have your signature on the document before upload, without the signature, your affidavit woun’t be approved and signed by the Registrar. 
                </p>
                <p  class="text-class">
                    2.You will be charged a fee of <span style="font-weight: bold;">₦</span> {{selectedTemplateobj.templatePrice}} once you successfully upload your template.
                </p>
            </div>

             <div style="text-align: center;">
                <button class="fill-affidavit-button" mat-button (click)="openUploadAffidavit()">Proceed

                </button>
                <button class="fill-affidavit-button" style="background-color: var(--customgrey) !important;" mat-button mat-dialog-close="false">close</button>
             </div>

        </div>

    </div>
    
</div>