.pagewrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 87vw;
    height: 90vh;
    /* background: linear-gradient(135deg,#fff 60%,var(--custombgColor) 60%); */
    background-color: transparent;
  }
  
  .loginbox {
    min-height: 48vh;
    min-width: 71vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    padding: 30px;
    border-radius: 5px;
    /* box-shadow: 0px 1px 20px 13px #0000003b; */
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: center;
    animation: 1s loginanimation ease;
  }

  .loginbox{
      transition:1s ease all;
  }

  
  .companyname {
    display: flex;
    justify-content: center;
  
  }
  
  .companynamepvt {
    display: flex;
    flex-flow: column wrap;
  }
  
  .companynamepvt h3 {
    letter-spacing: 11px;
    margin-top: -7px;
    margin-bottom: -15px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    /* background-color: black; */
  }
  
  .content img {
    margin-bottom: 0px;
    /* height: 18vh; */
    width:10vw;
    /* width: 16vw; */
  }
  
  .mat-input-flex.mat-form-field-flex{
    border-bottom: 1px solid black;
 }
 /* .mat-form-field-underline .mat-form-field-ripple {
  background: orange !important;
} */
::ng-deep .mat-input-wrapper{
  border: 2px solid black;
}
.form-container {

    background-color: white;
    display: flex;
    flex-flow: column wrap;
    width: 55%;
    border: 1px solid #00000070;
    margin-top: 0px;
    min-height: 52vh;

    align-items: center;
    box-shadow: 5px 6px 8px 2px #00000082;

    /* padding-left: 10px; */
    /* background-color: grey; */
  }
  
  form {

    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: white;*/
  }
  
  /* input.mat-input-element */
  form input.mat-input-element{
    /* margin-top: 0.9375em!important; */
  }
  
  .innerformfields-cls{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 84%;
    justify-content: center;
    align-items: center;
  }

  .mat-inpurtform-fields-cls{

  }

  .heading-cls{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-content: center;
    background-color:var(--custombgColor);
  }

  .heading-cls h2{
    color:white;
    padding-left:10px;
    font-size: medium;
  }

  .field {
    margin: 10px;
    padding: 0px;
    width:40%;
  }
  
  .subminbutton {
    margin: 0px;
    background-color: var(--custombtnColor);
    color: white;
    font-size: medium;
    font-weight: 500;
    width:15vw; 
    margin-top: 5vh;
  }
  
  .errormessage{
    background-color: rgba(228, 108, 99, 0);
      color: red;
      width: 100%;
      height: 2vh;
      display: flex;
      font-weight:500;
      justify-content: flex-start;
      align-items: center;
      font-size: small;
  }

  .successmessage{
    background-color: rgba(228, 108, 99, 0);
      color: green;
      width: 100%;
      /* height: 4vh; */
      display: flex;
      font-weight:600;
      justify-content: flex-start;
      align-items: center;
      font-size: medium;
  }