<div class="pagewrapper">
        <div class="loginbox"> 
           
          <form [formGroup]="resetformgroup" (keydown)="keyDownFunction($event)">

                <div class="form-container">
                  <div class="heading-cls">
                  <h2 >Change password</h2>
                </div>
                <div class="innerformfields-cls">
                  
                  <mat-form-field class="field">
                      <input matInput  matTooltip="Enter your new password" placeholder="Enter new password"
                        [type]="hide ? 'password' : 'text'" formControlName="password">
                    </mat-form-field>
      
                    <mat-form-field class="field">
                        <input matInput matTooltip="Reenter your password" placeholder="Retype password"
                          [type]="hide ? 'password' : 'text'" formControlName="repassword">
                      </mat-form-field>

                  <div class="errormessage" *ngIf="errorflag && !successflag">
                      <span style="margin-left: 10px;">{{errormessage}}</span>
                    </div>
                    <div class="successmessage" *ngIf="successflag && !errorflag">
                        <span style="margin-left: 10px;">{{successmessage}}</span>
                    </div>
            
                  <button mat-button class="subminbutton" (click)="submit()">Submit</button>
                    </div>
                  
                </div>
              </form>
              </div>
            </div>