<div class="page-container">
    <div class="affidavit-type-wrapper" >
        <div class="bold mb-4 affidavit-type">Affidavit Type</div>
        <div  class="affidavit-type-container">
            <div *ngFor="let subCategory of subCategoryList; let i = index" class="affidavit-type-item">
              <button 
                class="btn btn-outline w-100" 
                [ngClass]="{'active': subCategory.templateSubCategoryId === selectedSubCategoryId}" 
                (click)="selectSubCategory(subCategory.templateSubCategoryId)" style="height: 45px;">
                {{ subCategory.templateSubCategoryName }}
              </button>
            </div>
            <button class="btn btn-outline w-100" style="height: 45px;" (click)="openCaseRealtedDialog()" *ngIf="userType==='corporate'">
                Case-Related Affidavits
           </button>
            
          </div>

    </div>
    <div class="pagewrapper-cls">
        <div class="header mb-4">
            <div class="header-titlerow-cls">
                <h2 class="text-start d-flex align-items-center">Templates
                    <mat-icon class="text-muted ml-2 mt-2">play_arrow</mat-icon>
                    <span *ngIf="selectedSubCategoryName" class="text-muted  ml-2 mt-2" style="font-size: 18px" >
                        {{ selectedSubCategoryName }}
                    </span>
                </h2>

                <form class="documents-search-form-cls" (keydown)="onhittingEnter($event)">
                    <div class="searchbox-wrapper-cls">
                        <mat-icon class="search-icon-cls">search</mat-icon>
                        <input class="searchbox-cls" id="js-search-input" name="q" type="search" placeholder="Search templates..."
                            required=""  [(ngModel)]="filtervalue"/>
                        <button type="submit" class="btn-solid-cls" (click)="searchTemplates()" aria-label="Search">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-local">
            <mat-grid-list (window:resize)="handleSize($event)" [cols]="mybreakpoint" rowHeight="50vh" gutterSize="70px">
                <ng-container *ngFor="let template of templatelist;let i = index">
                    <mat-grid-tile class="document-card-cls" colspan="1" rowspan="1">
                        <div class="container-cls" [attr.id]="'affidavitcard-' + template.templateId"></div>
                        <div class="actiongroup-cls">
                            <h3 class="custom-heading" [matTooltip]="template.templateName"
                            matTooltipPosition="above" 
                            matTooltipShowDelay="500" 
                            matTooltipHideDelay="200">{{ template.templateName }}</h3>
                            <div class="upperrorw-cls">
                                <button class="enablebutton-cls btn" (click)="useTemplate(template.templateId)">Use
                                    Template</button>
                            </div>
                        </div>
                    </mat-grid-tile>
                </ng-container>
            </mat-grid-list>
        </div>

        <div class="footer">
            <app-paginator [page]="page" [hasPrev]="!prevflag" [hasNext]="!nextflag" [message]="dataMessage"
                (prevClick)="previousPage()" (nextClick)="nextPage()" style="margin-bottom: 16px;"></app-paginator>
        </div>

    </div>

</div>