<div class="account-container d-flex flex-column align-items-center">
  <div class="card shadow my-5">
    <div class="card-body">
      <h2 class="card-title">Individual Account</h2>
  <div class="account-section">
    <p><strong>Profile</strong></p>
    <p>Tech-proficient individuals confidently navigate digital spaces and operate online platforms on their own,
      without requiring help. They skillfully harness technology to improve their experiences when engaging with digital
      offerings.</p>
  </div>
  <div class="account-section">
    <p><strong>Confirm Identity</strong></p>
    <p>The system checks the first and last names provided by individual users against the official government biometric
      database. This can be done using the National Identification Number (NIN), Driver’s License, International
      Passport, or LAG ID, based on the user’s choice.</p>
    <p>Users must ensure that the name they provide matches the one registered in the government records precisely.</p>
    <p>Once verified, the e-affidavit platform will access the deponent’s Photo ID from the database and incorporate it
      into the generated affidavit.</p>
  </div>
  <div class="account-section">
    <p><strong>Account Usage</strong></p>
    <p>This account is meant for individual use and can only be used to produce sworn affidavits on behalf of the
      account’s registered owner. No other person can make use an account once it has been registered under a specific
      name.</p>
  </div>
</div>
</div>
</div>