<div class="maincontent">
    <span>
        <h2 mat-dialog-title>Custom Affidavit Name</h2>
        <button (click)="close()"><mat-icon>close</mat-icon></button>
        
    </span>
    
    <mat-form-field style="width: 92%; margin: 8px 0 0 20px;">
        <input matInput [(ngModel)]="affidavitname" placeholder="Save your affidavit as " style="font-size: 18px !important;">
      </mat-form-field>
    <div class="actiongroup">
        <button mat-button  mat-dialog-close="" 
            style="background-color: var(--custombtnColor); font-size:small;    font-weight: 600; color: white;margin-right:20px;">Skip</button>
        <button mat-button  [mat-dialog-close]="affidavitname" 
            style="background-color: var(--custombtnColor); font-size:small;    font-weight: 600; color: white;margin-right:20px;" *ngIf="!!affidavitname">Save</button>
    </div>
</div>