<div class="agents-container d-flex flex-column align-items-center">
  <div class="card shadow my-5">
    <div class="card-body">
      <h2 class="card-title">Agents / Freelancers</h2>
      <div class="agents-section">
        <p><strong>Profile</strong></p>
        <p>
          Agents or Professionals Assisting with Digital Platforms account is specifically designed for those who help
          individuals who are not well-versed with digital technology or lack direct access to it. These professionals
          play
          a crucial role in bridging the digital divide by facilitating the use of the e-Affidavit platform, making it
          accessible to a wider audience.
        </p>
        <p>
          This account is essential for ensuring that all community members, regardless of their digital skills or
          technology access, can benefit from the services provided by the e-Affidavit platform.
        </p>
      </div>
      <div class="agents-section">
        <p><strong>Verification</strong></p>
        <p>
          To maintain the integrity and security of the e-Affidavit platform, Agents must undergo a thorough
          verification
          process. They are verified through the Lagos State Residents Registration Agency (LASRRA) to confirm their
          identity and legitimacy.
        </p>
        <p>
          Additionally, they require mandatory approval from the Ministry of Justice (MOJ) before their accounts can be
          activated.
        </p>
        <p>
          This two-step verification process ensures that only qualified and authorized individuals can offer these
          services, upholding the platform's legal and ethical standards.
        </p>
      </div>
      <div class="agents-section">
        <p><strong>Account Usage</strong></p>
        <p>
          Once verified and approved, professionals can create and manage affidavits on behalf of their clients. They
          are
          responsible for ensuring the accuracy of the information entered and for complying with all procedural
          guidelines
          of the e-Affidavit platform.
        </p>
        <p>
          Through their personalized accounts, they can easily submit requests, track progress, and handle documentation
          efficiently.
        </p>
        <p>
          To ensure their success, the platform offers comprehensive training resources and dedicated support from the
          administrative team. This empowers agents and freelancers to navigate the platform with confidence and address
          any
          user concerns that may arise.
        </p>
        <p>
          Additionally, the e-Affidavit platform employs robust monitoring tools to oversee the activities of agents and
          freelancers. This safeguards the integrity of the system and helps maintain compliance with operational
          protocols,
          preventing any misuse.
        </p>
      </div>
    </div>
  </div>
</div>