<div class="contact-container">
    <h2>Contact Us</h2>
    <p>Need support? We're here for you!</p>
    <div class="contact-details">
      <div class="location">
        <h3>We are located at:</h3>
        <p style="font-weight: 500 !important;">Lagos State Ministry of Justice</p>
        <p>Lagos State Secretariat</p>
        <p>Alausa-Ikeja, Lagos</p>
      </div>
      <div class="enquiries">
        <h3>For Enquiries:</h3>
        <p><strong>WhatsApp Only:</strong> +234 707 589 7045</p>
        <p><strong>Email:</strong> help@e-affidavit.ng</p>
      </div>
    </div>
  </div>
  