.tablewrapper {
    width: 82vw;
    border: 1px solid #00000038;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 0px;
    height: 100%;
  }
  
  .mat-card-list-cls {
    display: flex;
    flex-flow: row nowrap;
    padding: 0px !important;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.48), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    min-height: 45px;
  }
  
  
  .tablelabel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .tablelabel span {
    font-size: medium;
  }
  
  .tablelabel h4 {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .tablelabel button {
    width: 10vw;
    background-color: var(--custombgColor);
    margin-bottom: 16px;
    color: white;
  }
  
  td {
    transition: 0.3s ease;
  }
  
  table {
    width: 100%;
  }
  
  #specialheading {
    padding-left: 24px;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .action-groups {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 0px;
    align-items: baseline;
  }
  
  .action-groups button {
    background-color: #2d814b00;
    color: black;
    width: 25px !important;
    height: 25px;
    border-radius: 50%;
  }
  
  .disable .mat-chip.mat-standard-chip {
    background-color: grey;
    content: "no centent"
  }
  
  .enable .mat-chip.mat-standard-chip {
    background-color: var(--custombgColor);
  }
  
  .actionclass {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .actionclass span {
    flex: 1;
  }
  
  .actionclass button {
    flex: 1;
    background-color: white !important;
    color: black;
  }
  
  .optional1 {
    display: none;
  }
  
  .optional {
    font-size: smaller;
  }