<div class="account-container d-flex flex-column align-items-center">
  <div class="card shadow my-5">
    <div class="card-body">
      <h2 class="card-title">Corporate Account</h2>
      <div class="account-section">
        <p><strong>Profile</strong></p>
        <p>This account is tailored for corporate firms that need to swear affidavits under their registered company
          name with the Corporate Affairs Commission (CAC). It’s ideal for businesses that require affidavits for
          various legal, contractual, or regulatory purposes.</p>
        <p>The functionality is designed to meet the specific needs of companies, enabling them to efficiently and
          securely manage multiple affidavits.</p>
      </div>
      <div class="account-section">
        <p><strong>Verification</strong></p>
        <p>The corporate name provided during account registration is verified against the CAC database to ensure the
          company’s legitimacy and active status.</p>
        <p>This verification confirms the company’s recognized and authorized status to conduct business, which is
          crucial for the validity of any affidavits sworn in the company’s name.</p>
      </div>
      <div class="account-section">
        <p><strong>Account Usage</strong></p>
        <p>Corporate Accounts are strictly for business use and must be operated by individuals authorized by the
          company. These accounts can generate affidavits for any matters concerning the company, and all affidavits are
          sworn in the name of the company, not an individual.</p>
        <p>The account settings allow for the designation of multiple authorized users, depending on the company’s size
          and needs, to facilitate the preparation, submission, and management of affidavits.</p>
        <p>The ability to add a company logo or distinctive mark to the sworn statement adds a layer of professionalism
          and credibility to the paperwork. The system allows for multiple employees to be associated with a single
          organizational account, which is advantageous for large companies where various teams may require the use of
          the service.</p>
        <p>Robust security features, such as encryption, restricted access controls, and audit trails, are always in
          place to shield confidential business data and uphold regulatory data privacy standards.</p>
        <p>Designed for corporate firms that require to swear an affidavit in company name registered with the CAC such
          as Affidavits of Loss or Fact. These affidavits are often executed by individuals in key positions, such as
          Directors or Secretaries, within the organization.</p>
      </div>
    </div>