<div class="pagewrapper">
  <div class="loginbox">
    <div class="content">
        <h1>Forgot Password</h1>
      
    </div>
    
    <form [formGroup]="forgotformgroup" (keydown)="keyDownFunction($event)">
    <div class="form-container">
      
      <mat-form-field class="field">
        <input matInput (keypress)="keyPress($event)"  matTooltip="Enter your registered Email id" formControlName="email" placeholder="Email">
      </mat-form-field>
      <div class="errormessage" *ngIf="errorflag" (click)="toggle('')">
          <span style="margin-left: 10px;">{{errormessage}}</span>
        </div>

      <button mat-button class="subminbutton" (click)="onSubmit()">Send Me Email</button>
   
      <div class="field" style="text-align:center "><a [routerLink]="['/login']">I remember my Password</a></div>
    </div>
  </form>
  <h4 *ngIf="success" style="text-align:center">Please check your email to reset password.</h4>
  </div>
</div>