<div class="maincontent">
    <span>
        <h2 mat-dialog-title>Delete This Template</h2>
    </span>
    <p>Do you want to delete this Template Permanently ?</p>
    <div class="actiongroup">
        <button mat-button (click)="onSubmit()" 
            style="background-color: var(--custombtnColor);color: white;margin-right:20px;">Yes</button>
        <button mat-button mat-dialog-close mat-dialog-close="No"
            style="background-color: #545859;color: white;margin-right:17px;">No</button>
    </div>
</div>