<div class="auth-field-group">
  <label class="auth-field-label" [attr.for]="inputId">{{ label }}</label>
  <mat-form-field appearance="outline" class="auth-field">
    <input
      [id]="inputId"
      matInput
      [placeholder]="placeholder"
      [type]="hide ? 'password' : 'text'"
      [formControl]="control"
      [attr.disabled]="disabled ? true : null"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hide = !hide"
      [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
      [attr.aria-pressed]="!hide"
      [attr.disabled]="disabled ? true : null"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <div
    class="auth-strength"
    *ngIf="showStrength && control"
    [ngClass]="'auth-strength--' + strengthScore"
  >
    <div class="auth-strength__bars">
      <span
        class="auth-strength__bar"
        *ngFor="let i of strengthSegments"
        [class.auth-strength__bar--on]="i < strengthScore"
      ></span>
    </div>
    <span class="auth-strength__label">{{ strengthLabel }}</span>
  </div>

  <p class="auth-field-hint" *ngIf="hint">{{ hint }}</p>
</div>
