<div class="maincontent">
  <p style="margin: 10vh; margin-bottom: 5px">{{ message }}</p>

  <div class="actiongroup">
    <button
      mat-button
      mat-dialog-close
      mat-dialog-close="No"
      style="
        background-color: var(--custombtnColor);
        font-size: small;
        font-weight: 600;
        color: white;
        margin-left: 15vh;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;
      "
    >
      No
    </button>
    <button
      mat-button
      mat-dialog-close
      mat-dialog-close="Yes"
      style="
        background-color: #dd3737;
        font-size: small;
        margin-right: 15vh;
        font-weight: 600;
        color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;
      "
    >
      Yes
    </button>
  </div>
</div>
